<h1>Avaliação da Acuidade Visual</h1>

<%= form_with url: calcular_path, method: :post do %>
  <div>
    <%= label_tag :olho_esquerdo, "Olho Esquerdo (20/)" %>
    <%= text_field_tag :olho_esquerdo, "", placeholder: "Insira o denominador" %>
  </div>
  <div>
    <%= label_tag :olho_direito, "Olho Direito (20/)" %>
    <%= text_field_tag :olho_direito, "", placeholder: "Insira o denominador" %>
  </div>
  <div>
    <%= submit_tag "Calcular" %>
  </div>
<% end %>
