<h1>Resultados</h1>

<p><strong>Olho Esquerdo:</strong> <%= @olho_esquerdo %> - <%= @categoria_esquerdo %></p>
<p><strong>Olho Direito:</strong> <%= @olho_direito %> - <%= @categoria_direito %></p>

<%= link_to "Voltar", root_path %>
